ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
Port 2200
Protocol 2
PermitRootLogin prohibit-password
PubkeyAuthentication yes
